django>=1.5.1
wheel==0.24.0
# Additional requirements go here

-e git+ssh://git@github.com/publica-io/django-entropy.git#egg=entropy
-e git+ssh://git@github.com/publica-io/django-attrs.git#egg=attrs
-e git+ssh://git@github.com/publica-io/django-publica-templates.git#egg=templates
-e git+ssh://git@github.com/publica-io/django-publica-modals.git#egg=modals

django-polymorphic
